{{!-- Usage: {{> icon name="handcuffs" class="w-5 h-5"}} --}}
{{#if (eq name "handcuffs")}}
  {{> (safe (lookup . "this")) }}
  <span class="sr-only">handcuffs</span>
{{/if}}

{{!-- Fallback: inline <img> or <svg use> with currentColor --}}
<svg class="{{class}} bdsm-icon" aria-hidden="true">
  <use href="/themes/bdsm/assets/icons/sprite.svg#{{name}}"></use>
</svg>

